
html {
	background: #f2f2f2;
}

/* Overwrite max width constraint */
#jacket #binder {
	max-width: 100%;
}

/* Overwrite because there is no longer a vertical nav to account for */
main {
	background: #f2f2f2;
	box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, .25);
	margin-left: 0;
	position: relative;
	margin-bottom: 4rem;
}

main * {
	box-sizing: border-box;
}

main section {
	background: #fff;
	margin-top: 3rem;
	padding: 2rem 0 0;
}

main .hentry section {
	padding: 2rem 0 4rem;
}

main .hentry section:first-child {
	background: none;
	margin-top: 0;
	padding: 0;
}

/* breadcrumbs */
main .breadcrumbs {
	background: none;
	margin: 0 auto;
	padding: 0;
	font-size: .7rem;
	text-transform: uppercase;
	letter-spacing: .5px;
}

main .breadcrumbs span {
	margin: 0 .15rem 0 .25rem;
}

.breadcrumbs span:first-child {
	margin-left: 0;
}

/* main header */
.main-header {
	background: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

/* populate red tab */
#jacket #binder .hentry section.row:before,
#jacket #binder main section.breadcrumbs:before,
.article-body .column.two:before {
	content: "";
	position: absolute;
	width: 2rem;
	height: .4rem;
	background: #ca1237;
	top: 0;
	left: 2rem;
	visibility: visible;
}

.article-body .column.two:before {
	left: 0;
}

/* no red tab for you */
#jacket #binder .hentry section.row:first-of-type:before,
#jacket #binder main section.breadcrumbs-bottom:before {
	display: none;
}


/* Max widths for content sections */
.main-header,
main .page > .section-wrapper > section,
main .page > section,
.blog main > section,
.single-post main > section,
.archive main > section,
.search main > section,
.page-template-search main > section,
section.pager {
	width: 100%;
	max-width: 1188px;
	margin-left: auto;
	margin-right: auto;
}

/* --- pages with featured image --- */
.page .hentry,
.single-post .article-header {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 594px) minmax(auto, 594px) 1fr;
}

.page .hentry section {
	grid-column: 2 / 4;
}

.page.has-featured-image .hentry .featured-image-wrapper + section,
.single-post hgroup {
	grid-column: 2 / 3;
	grid-row-start: 1;
	background: none;
	margin-top: 0;
}

.page.has-featured-image .hentry .featured-image-wrapper + section .column.one {
	width: 100%;
}

.page.has-featured-image .hentry .featured-image-wrapper + section .column.two {
	display: none;
}

.featured-image-wrapper {
	grid-column: 3 / 4;
	margin-top: 6rem;
	padding: 0 2rem;
}

.featured-image {
	height: 0;
	padding-bottom: 57.5%;
}

/* post */
.single-post section {
	margin-top: 0;
	padding-top: 0;
}

.single-post .breadcrumbs .one > span:last-child {
	display: none;
}

.single-post .breadcrumbs-top {
	background: #191919;
	color: #fff;
}

.single-post .breadcrumbs-top a {
	color: #fff;
}

.single-post .article-header {
	background: #191919;
	color: #fff;
	margin: 0 -2rem;
	padding: 0 0 2rem 2rem;
}

.article-header * {
	color: #fff;
}

.article-header hgroup {
	align-self: flex-end;
}

.single-post .featured-image-wrapper {
	align-self: flex-end;
	margin-top: 1rem;
}

.article-body .column {
	padding: 4rem 0 !important;
}

.meta-head {
	font-weight: 700;
	margin-top: .5rem;
	padding-bottom: 0;
	text-transform: uppercase;
}

.meta-item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.meta-item {
	font-size: .9em;
	padding: 0 0 0 .15rem;
}

.meta-item a {
	color: #777;
}

.meta-item a:hover {
	color: #a60f2d;
}

main ul.meta-item-list li:before {
	display: none;
}

.article-footer {
	padding-bottom: 2rem;
}

section.pager {
	background: none;
	display: none;
}

/* - home - */
.home main .hentry section:first-child {
	background: #fff;
	box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, .25);
}

.home main .hentry section:first-child .column.one {
	padding-bottom: 2rem;
}

.home main .hentry section:first-child .column.one .video-wrap {
	background-color: #777;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.home #jacket #binder .hentry section.row:first-of-type:before {
	content: "";
	position: absolute;
	width: 2rem;
	height: 2rem;
	background: #ca1237;
	top: 0;
	left: 4rem;
	visibility: visible;
}

.home #jacket #binder .hentry section.row:first-of-type:before {
	display: block;
	z-index: 3;
}
