
html {
	background: #fff;
}

/* Overwrite max width constraint */
#jacket #binder {
	max-width: 100%;
}

/* Overwrite because there is no longer a vertical nav to account for */
main {
	background: #f2f2f2;
	box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, .25);
	margin-left: 0;
	position: relative;
}

main * {
	box-sizing: border-box;
}

/* Max widths for content sections */
.main-header .hgroup,
main .page > .section-wrapper > section,
main .page > section,
.blog main > section,
.single-post main > section,
.archive main > section,
.search main > section,
.page-template-search main > section {
	width: 100%;
	max-width: 1188px;
	margin-left: auto;
	margin-right: auto;
}

/* Page header */

@media (max-width: 1250px) {

	.main-header .hgroup {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
