/* CSS Grid fallback */
.content-syndicate-wrapper,
.wsuwp-people-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.content-syndicate-item,
.wsuwp-person-container {
	flex: 1;
	min-width: 300px;
}

/* CSS Grid */
.content-syndicate-wrapper,
.wsuwp-people-wrapper,
.archive .row .column.one {
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 1rem -1rem 0;
}

.archive .row.breadcrumbs .column.one {
	display: block;
}

/* - allow aligning elements within an item - */
.content-syndicate-item,
.wsuwp-person-container,
.archive article {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding: 1rem;
	transition: background-color .3s ease;
}

.content-syndicate-item:hover,
.wsuwp-person-container:hover,
.archive article:hover {
	background-color: rgba(0, 0, 0, .035);
}

/* - allow for different size images to display uniformally - */
.content-syndicate-item figure a,
.wsuwp-person-container figure a,
.archive article figure a {
	display: block;
	height: 0;
	padding-bottom: 57.5%;
	position: relative;
	border: none;
}

.content-syndicate-item figure a img,
.wsuwp-person-container figure a img,
.archive article figure a img {
	object-fit: cover;
	object-position: 50%;
	width: 100%;
	height: 100% !important;
	max-width: 100% !important;
	max-height: 100%;
	position: absolute;
}

/* words */
.content-item-title,
.content-item-excerpt,
.content-item-cta,
.content-item-categories,
.wsuwp-person-name,
.wsuwp-person-position,
.wsuwp-person-office,
.wsuwp-person-email {
	display: block;
	font-size: .8rem;
	padding: 0 .5rem;
}

.content-item-title,
.wsuwp-person-name,
.archive article .article-title {
	font-size: .95rem;
	font-weight: 400;
	margin: 1rem 0 .5rem;
}

.content-item-cta,
.archive article .article-read-more {
	background: url(images/icons/arrow-right.svg) left center no-repeat;
	background-size: 8px;
	font-size: .85rem;
	font-weight: 400;
	margin: 1rem 0 0 .75rem;
	padding: 0 0 0 .8rem;
}

main .content-item-cta a,
.archive article .article-read-more a {
	border-bottom: 1px solid transparent;
	color: #a60f2d;
	transition: border-bottom-color .3s ease;
}

main .content-item-cta a:hover,
.archive article .article-read-more a:hover {
	border-bottom-color: #da1e00;
}

.content-item-categories {
	margin-top: auto;
	padding-top: 2rem;
}

main .content-item-categories a,
.archive .article-footer dl dd a {
	border-bottom: none;
	color: rgba(0, 0, 0, .7);
	font-size: .7rem;
	white-space: nowrap;
}

.content-item-categories a:hover,
.archive .article-footer dl dd a:hover {
	border-bottom: 1px solid;
	color: #da1e00;
}

/* Additional archive styles */
.archive .article-title {
	font-size: .95rem;
	font-weight: 400;
	margin: 1rem 0 .5rem;
	text-transform: none;
}

.archive .article-title a {
	border-bottom: 1px solid transparent;
	color: #a60f2d;
	transition: color .3s ease, border-bottom-color .3s ease;
}

.archive .article-title a:hover {
	border-bottom-color: #da1e00;
	color: #da1e00;
}

.archive article .article-title a:after {
	display: inline-block;
	margin: 0 0 .2em .25rem;
	position: relative;
}

.archive figure.article-thumbnail {
	float: none;
	margin: 0;
}

.archive .article-subhead {
	padding: .5rem;
}

.archive .article-footer {
	border-top: none;
	margin-top: auto;
	padding: 2rem 0 0;
}

.archive .article-footer dl dt {
	display: none;
}

/* Content Syndicate "Excerpts" output and search results */
.wsuwp-content-syndicate-list {
	padding: 0;
	margin-left: -2rem;
}

.search-results-container .column.one {
	padding-left: 0;
}

.wsuwp-content-syndicate-list .wsuwp-content-syndicate-item,
.search-results-container .column.one article {
	border-bottom: 10px solid #f2f2f2;
	padding: 2rem 0 4rem 2rem;
}

.wsuwp-content-syndicate-list .wsuwp-content-syndicate-item:last-of-type,
.search-results-container .column.one article:last-of-type {
	border-bottom: none;
}

.wsuwp-content-syndicate-list .wsuwp-content-syndicate-item:before {
	content: initial;
}

.wsuwp-content-syndicate-list .content-item-thumbnail,
.wsuwp-content-syndicate-list .content-item-excerpt img {
	display: none;
}

.wsuwp-content-syndicate-list .content-item-title,
.wsuwp-content-syndicate-list .content-item-excerpt {
	padding: 0;
}

.wsuwp-content-syndicate-list .content-item-title,
.search-results-container .column.one article h2 {
	color: #a60f2d;
	font-size: 1.75em;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1em;
	margin: 1.75rem 0 .5em;
	text-transform: none;
}

.wsuwp-content-syndicate-list .content-item-title a,
.search-results-container .column.one article h2 a {
	border-bottom: none;
}

.wsuwp-content-syndicate-list .content-item-title a:after,
.search-results-container .column.one article h2 a:after {
	background: url(./images/icons/link.svg) left center no-repeat;
	background-size: 70%;
	content: "";
	display: inline-block;
	height: 1rem;
	margin: 0 0 .2em .25rem;
	position: relative;
	width: 1rem;
}

/* This one is less than great - the attempt is to target the "byline" */
.wsuwp-content-syndicate-list .content-item-excerpt p:first-child strong,
.search-results-container .visible-url {
	display: block;
	font-size: .9em;
	font-weight: 400;
	margin-bottom: 1em;
}

.wsuwp-content-syndicate-list .content-item-read-story {
	background: none;
	border: 1px solid;
	border-radius: 0;
	color: #a60f2d;
	display: inline-block;
	font-size: .9em;
	font-weight: 600;
	margin-top: 1.2rem;
	padding: .5rem 1rem;
	transition: all .3s ease;
}

.wsuwp-content-syndicate-list .content-item-read-story:hover,
.wsuwp-content-syndicate-list .content-item-read-story:active {
	background: #a60f3d;
	border: 1px solid #a60f3d;
	color: #fff;
}

/* determine how to handle later */
.content-item-byline,
figcaption {
	display: none;
}

/* - single simple card in a sidebar - */
.two .wsu-person.has-photo {
	width: 100%;
}

.two .wsu-person.has-photo .card {
	display: flex;
	flex-direction: column;
}

.two .wsu-person figure.photo img {
	max-width: 100%;
	width: 100%;
}

.two .wsu-person figure.photo {
	order: -1;
}

.two .wsu-person .email,
.two .wsu-person .phone,
.two .wsu-person .office,
.two .wsu-person .address,
.two .wsu-person .about {
	display: none;
}
