.page-template-people .icon-set {
	display: none;
}

.page-template-people main section {
	background: none;
	margin-top: 0;
}

.page-template-people main .single .column {
	padding: 0;
}

.page-template-people .article-header,
.wsu-people-filters {
	padding: 0 2rem;
}

.page-template-people .article-header {
	grid-column: 1 / 3;
}

.page-template-people .article-header * {
	color: #a60f2d;
}

.page-template-people .wsu-people-wrapper {
	grid-column: 1 / 4;
}

.page-template-people .wsu-people-filters {
	display: flex;
	margin-bottom: 4rem;
}

.wsu-people-filter-label,
.wsu-people-filter-label:hover,
.wsu-people-filter-label:focus,
.wsu-people-filters .search input {
	background: none;
	border-color: #a60f2d;
	color: #a60f2d;
	font-size: 13px;
	font-style: normal;
	height: auto;
	letter-spacing: 1px;
	line-height: normal;
	padding: .75rem 1.75rem;
	text-transform: uppercase;
}

.wsu-people-filters .search input {
	background: url(images/icons/search-crimson.svg) center right no-repeat;
	background-size: 1em;
}

.wsu-people-filter-label:after {
	background: url(images/icons/arrow-down.svg) center no-repeat;
	background-size: 1.25em;
	content: "";
	display: inline-block;
	height: 1em;
	margin-left: .75em;
	position: static;
	width: 1.25em;
}

.wsu-people-filter-label[aria-expanded="true"]:after {
	background-image: url(images/icons/arrow-up.svg);
	transform: none;
}

.wsu-people-filter-terms li:before {
	content: initial;
}

.wsu-people-filter-terms :checked + span {
	font-weight: 400;
}

.page-template-people .wsu-people-filters .search {
	margin-left: 4rem;
	order: 1;
}

.wsu-people-filters .search input,
.wsu-people-filters .search input:focus {
	border-color: transparent;
	border-bottom-color: #a60f2d;
	padding-left: 0;
}

.wsu-people-filters .search input::-webkit-input-placeholder {
	color: #a60f2d;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 13px;
	font-style: normal;
}

.wsu-people-filters .search input::-moz-placeholder {
	color: #a60f2d;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 13px;
	font-style: normal;
	opacity: 1;
}

.wsu-people-filters .search input:-ms-input-placeholder {
	color: #a60f2d;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 13px;
	font-style: normal;
}

.wsu-people-filters .search input:-moz-placeholder {
	color: #a60f2d;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 13px;
	font-style: normal;
	opacity: 1;
}

.page-template-people .wsu-people {
	background: #fff;
	padding: 5rem 1rem;
	position: relative;
	display: grid;
	grid-column-gap: 0;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 1rem -1rem 0;
}

.page-template-people .wsu-people:before {
	background: #a60f2d;
	content: "";
	height: .65rem;
	left: 2rem;
	position: absolute;
	top: 0;
	width: 3rem;
}

.page-template-people .wsu-person {
	padding: 0;
	transition: background .3s ease;
	width: 100%;
}

.page-template-people .wsu-person:hover {
	background: #f2f2f2;
}

.page-template-people .wsu-person a {
	color: #424242;
	border-bottom: none;
	transition: border-bottom .3s ease;
}

.page-template-people .wsu-person a:hover {
	border-bottom: 1px solid #fa5735;
}

.page-template-people .wsu-person .card {
	display: block;
	overflow: hidden;
	padding: 1rem 1rem 2rem;
}

.page-template-people .wsu-person .photo {
	float: left;
	margin: 0;
	padding: 0;
	width: 40%;
}

.page-template-people .wsu-person .photo a:hover {
	border-bottom: none;
}

.page-template-people .wsu-person .photo img {
	position: static;
}

.page-template-people .wsu-person .name,
.page-template-people .wsu-person .contact {
	box-sizing: border-box;
	float: right;
	padding-left: 1.5rem;
	width: 60%;
}

.page-template-people .wsu-person .name {
	font-size: 1.75em;
	line-height: normal;
	padding-bottom: .5em;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

.page-template-people .wsu-person .name a,
.page-template-people .wsu-person .profile-link a {
	color: #a60f2d;
	position: static;
}

.page-template-people .wsu-person .name a:hover {
	color: #a60f2d;
}

.page-template-people .wsu-person .name a:after {
	display: none;
	height: .9em;
	position: relative;
	top: .05em;
	width: .9em;
}

.page-template-people .wsu-person:hover .name a:after {
	display: inline-block;
}

.page-template-people .wsu-person .contact span {
	margin-bottom: .25rem;
	padding-left: 1.75rem;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

.page-template-people .wsu-person .contact svg {
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.page-template-people .wsu-person .contact .title {
	font-size: .85em;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 1em;
	padding-left: 0;
}

.page-template-people .wsu-person .profile-link {
	background: url(images/icons/arrow-right.svg) 3px center no-repeat;
	background-size: 8px 16px;
	font-size: .9em;
	font-weight: 700;
	margin-top: 2em;
	opacity: 0;
	transition: opacity .3s ease;
}

.page-template-people .wsu-person:hover .profile-link {
	opacity: 1;
}

@media only screen and (max-width: 693px) {

	.page-template-people .wsu-people-filters {
		flex-direction: column;
	}

	.page-template-people .wsu-people-filter {
		margin-bottom: 2rem;
	}

	.page-template-people .wsu-people-filters .search {
		margin: 0;
	}
}
